h1 {
    text-align: center;
}

form {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.search__title {
    margin-bottom: 0;
    width: 40vw;
    max-width: 400px;
}

.search__title:focus {
    outline: none;
}

main {
    width: 100%;
    display: flex;
    justify-content: center;
}

.movies {
    list-style: none;
    margin: 0;
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 32px;
}